ul {
    list-style-type: none;
    font-size: 20px;
    padding: 25px;
}

li {
    padding: 15px;
}

.currentWeather {
    margin-left: 20px;
}

.favorable {
    background-color: darkcyan;
    color: aliceblue;
    font-weight: bold;
    padding:5px;
}

.moderate {
    background-color: darkgoldenrod;
    color: aliceblue;
    font-weight: bold;
    padding:5px;
}

.severe {
    background-color: brown;
    color: aliceblue;
    font-weight: bold;
    padding:5px;
}

.historyBtn {
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    padding: 8px;
    font-size: 20px;
}

#forecast {
    font-size: 30px;
    padding: 10px;
    margin-left: 20px;
}

.futureWeather {
    margin-left: 20px;
    background-color:#3366996a;
}
