/* Define universal properties*/
*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}


.header{
    background-color:linen;
    padding: 22px;
    text-align: center;
}

h1{
    color: cadetblue;
    font-size: 40px;
}

h2{
    font-size: 40px;
    margin-top: 10px;
}

.search-input{
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.search-btn{
    margin-top: 20px;
    padding:5px;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

#current-weather{
    background-color: antiquewhite;
    height: 40vh;
}

#future-weather{
    height: 40vh;
}
